**/.DS_Store
**/Advent_of_code_2021.playground/playground.xcworkspace/xcuserdata/marcelsliwinski.xcuserdatad/UserInterfaceState.xcuserstate
**/Advent_of_code_2021.playground/playground.xcworkspace/xcuserdatad/
